<div class="login-form">
    <form action="" [formGroup]="login" >
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username"  required="required" formControlName="username">
        </div>
        <div class="form-group mt-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required" formControlName="password">
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="saveData()">Log in</button>
        </div>                
    </form>   
</div>
<div class="">
    <button class="btn btn-danger" (click)="clrStorage()">Clear Storage</button>
</div>
<div>
    <a routerLink="newcomp">NewComp</a>    
</div>
<router-outlet></router-outlet>