<p>books works!</p>
<!--<div class="col">
    <div class="card mb-1 col-md-3">
        <div class="card-body">
            <a routerLink="./book1">
                Book1
            </a>
        </div>
    </div>

    <div class="card mb-1 col-md-3">
        <div class="card-body">
            <a routerLink="./book2">
            Book2
            </a>
        </div>
    </div>

    <div class="card mb-1 col-md-3">
        <div class="card-body">
            <a routerLink="./book3">
               Book3
            </a>
        </div>
    </div>

    <div class="card mb-1 col-md-3">
        <div class="card-body">
            <a routerLink="./book4">
                Book4
            </a>
        </div>
    </div>
</div>

<div class="col mb-2">
    <router-outlet></router-outlet>
</div> -->