<!-- <p>datashare works!</p>


<div class="container">
    <div class="row">
        <div class="col-12">
            <input type="text" #val>
            <button (click)="senddata(val)">Send</button>
            <p>@output{{child}}</p>
        </div>
        <div>
            <button (click)="increase()" class="btn btn-primary">increase</button>
        </div>
        <div class="col-12">
            <app-data-child [dataChild]="value" (childOutput)="getData($event)"></app-data-child><br><br><br><br><br>
            <app-footer [dataChild]="value"></app-footer>           
        </div>
    </div>
</div> -->
<app-newcomponent></app-newcomponent>